
<md-list>
    <md-content class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
            <label>Search your board</label>
            <input ng-model="search.$">
        </md-input-container>
    </md-content>
    <md-item ng-repeat="item in boards.boards | filter:search:strict">
        <a href="#/board/{{item.board}}" style="text-decoration: none; color: inherit;">
            <md-item-content class="a-list">
                <div class="md-tile-content" >
                    <h3>{{item.title}}</h3>
                    <p>{{item.board}}</p>
                </div>
            </md-item-content>
        </a>
    </md-item>
</md-list>