
<div ng-controller="BoardCtrl" ng-swipe-left="onSwipeLeft()" ng-swipe-right="onSwipeRight()">

    <section ng-hide="loading">

        <md-card>
            <img ng-src="{{thread.image}}" class="md-card-image">
        </md-card>
        <div class="buttons">
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised md-primary" ng-disabled="threadPos == 0" ng-click="clickSwipeRight()">Previous</md-button>
                <md-button class="md-raised md-primary" ng-click="clickSwipeLeft()">Next</md-button>
            </section>
        </div>


        <p style="padding:10px; margin-top: 0;" ng-bind-html="thread.com"></p>
        <section layout="row" layout-sm="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="loadReplies()">Read more</md-button>
        </section>
    </section>

    <section ng-show="loading" class="loading"></section>

</div>