<div ng-controller="ThreadCtrl">
    <md-content>
        <md-list>
            <md-item ng-repeat="item in replies | limitTo:limitReplies">
                <md-item-content>
                    <md-card>
                        <img ng-src="{{item.image}}" class="md-card-image">
                    </md-card>
                </md-item-content>
            </md-item>
        </md-list>
        <section layout="row" layout-sm="column" layout-align="center center">
            <p style="text-align: center;" ng-show="replies.length == 0">No replies :(</p>
            <md-button class="md-raised md-primary" ng-click="loadMore()" ng-show="limitReplies < replies.length">MOAR</md-button>
        </section>
    </md-content>
</div>